body{
    background-color: black;
}
h1{
    text-align: center;
    color: azure;
}
h2{
    text-align: center;
    color: azure;
}
.container{
    text-align: center;
}
p{
    font-size: larger;
    color: azure;
}
.sonic2{
    text-align: center;
}

